<%- include('partials/above'); -%>

<div class="container p-5">
    <h1 class="display-4">
        About Me
    </h1>
    <p>Hi, I'm Maanas, a Centennial College software engineering student. I'm in my third semester.</p>
    <p>This is an assignment that I've made for COMP229, a fully functioning express website.</p>
    <h2 class="display-5">Facts about me</h2>
    <ul>
        <li>I'm from J&K, the northernmost part of India.</li>
        <li>I like playing the piano.</li>
        <li>I thought I liked cold weather until I came to Canada. (Relatable?)</li>
    </ul>
    <h2 class="display-5">My Resume</h2>
    <p><a href="Sam_resume.docx">Click here</a> to view my resume.</p>
</div>

<%- include('partials/below'); -%>
