<%- include('partials/above'); -%>

<div class="container p-5">
    <h1 class="display-4">
        About Me
    </h1>
    <div class="center">
       
        <br>
        <img src="sam.jpg" alt="" height="400" width="240" > <br> <br>
        
    </div>
    <p>Hi, I'm ebtisam abdulkaliq, a Centennial College software engineering student. I'm in my 4th semester.</p>
    <p>This is an assignment that I've made for COMP229, a fully functioning express website. <br>  course Name: Web application Development </p>
    <h2 class="display-5">Facts about me</h2>
    <ul>
        <li>I'm from Saudi Arabia.</li>
        <li>I like playing the piano.</li>
        <li>I thought I liked cold weather until I came to Canada. (Relatable?)</li>
    </ul>
    <h2 class="display-5">My Resume</h2>
    <p><a href="Sam_resume.docx">Click here</a> to view my resume.</p>
</div>

<%- include('partials/below'); -%>
