<%- include('partials/above'); -%>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to my Express Portfolio!</h1>
    <p class="lead">
      This is a portfolio I've made for Assignment #1, COMP229.
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/about" role="button">About me</a>
      <a class="btn btn-primary btn-lg" href="/contact" role="button"
        >Contact me</a
      >
    </p>
    <p>User: Proceed to <a href="/secure/login">Secure Login.</a></p>
  </div>
</div>

<%- include('partials/below'); -%>
