<%- include('partials/above'); -%>

<div class="container p-5">
    <h1 class="display-4">My Projects</h1>
    <h2 class="display-5">Custom Programming Language (In Progress)</h2>
    <p>I'm working on a custom programming language for educational purposes.</p>
    <h2 class="display-5">Contributions to: ExcaliburJS</h2>
    <p>A JS/TS game engine by Erik Onarheim. I worked on a small GitHub issue feature request.</p>
    <p><a href="https://github.com/excaliburjs/Excalibur">ExcaliburJS</a></p>
    <h2 class="display-5">Card-Memory-React</h2>
    <p>A small library I made in React with a card memory component.</p>
    <p><a href="https://github.com/MaanasArora/card-memory-react">card-memory-react</a></p>
</div>

<%- include('partials/below'); -%>
