<%- include('partials/above'); -%>

<div class="container p-5">
    <h1 class="display-4">My Projects</h1>
    <h2 class="display-5"> Programming Language </h2>
   <h2>Speed tickets application using (C#)</h2>
   <h2>Company employee salery using (Java)</h2>
   <br>
   <br>
    <h2 class="display-5">software system Development</h2>
    <h3> Creat an app called Covid-19 station</h3>
    <br>
    <h2  class="display-5"> software system design  </h2>
   <h3> Debuging an app<br></h3>
   <h2  class="display-5"> Web Application Development  </h2>
   <h3> express.js</h3>
   <h3>passport.js</h3>
   <h3>Node.js</h3>
</div>

<%- include('partials/below'); -%>
