<%- include('partials/above'); -%>

<div class="container p-5">
    <h1 class="display-4">Services I Offer</h1>
    <h2 class="display-5">Web Development</h2>
    <ul>
        <li>Express.js</li>
        <li>javaScript</li>
       
    </ul>
    <h2 class="display-5">Programming Language</h2>
    <ul>
        <li>Java</li>
        <li>C#</li>
        <li>javaScript</li>
    </ul>
</div>

<%- include('partials/below'); -%>
