<%- include('partials/above'); -%>

<div class="container p-5">
    <h1 class="display-4">Services I Offer</h1>
    <h2 class="display-5">Web Development</h2>
    <ul>
        <li>Express</li>
        <li>Django</li>
        <li>React</li>
    </ul>
    <h2 class="display-5">Machine Learning</h2>
    <ul>
        <li>TensorFlow</li>
        <li>Keras</li>
        <li>NumPy/Pandas</li>
    </ul>
</div>

<%- include('partials/below'); -%>
